.form{
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    
}
#person{
    color: orange;
}
#login{
    color: orange;
}
#user{
    color: orange;
}
#pass{
    color: orange;
}
#check{
    color: orange;
}